//this mixin would go into base.scss/button

@import '../colors.scss';

@mixin button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 100ms ease-in-out, border-color 100ms ease-in-out, box-shadow 100ms ease-out;
  border-radius: 0.25rem;
  border: 0;
  background-color:  white;
  color: $color-green;
  font-weight: bold;
  outline: 0;
  text-decoration: none;
  vertical-align: bottom;
  cursor: pointer;
  
}

.btn {
  @include button;
  &:hover {
    background-color: $color-medium-green;
    color: white;
  }
}

.primary {
    @include button;
    font-size: 1.5rem;
    border-width: 4px;
    border-color: $color-grey;
    padding: 1rem 3.25rem;
}

.secondary {
  @include button;
  border: 2px solid $color-green;
  width: 150px;
  padding: 0.75rem 2rem;
  color: $color-green;
  white-space: nowrap;
  font-size: 1rem;
}

.selected {
  background-color: $color-green;
  color: white;
}
