
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
@import '../src/components/colors.scss';


$color-green: #18af25;
$color-dark-green: #2b211d;
$color-white-green: #ebf3eb;
$color-grey: #719c88;

html, body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0rem auto;
  align-items: center;
  background: $color-white-green;
  height: 100vh;
}

.daysWrapper {
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
  grid-gap: 1rem;
  min-width: 550px;
  justify-content: space-around;
}
.hoursWrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  min-width: 550px;
}

.header {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem 0rem;
  color: $color-green;
  min-width: 550px;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;

}

.zeroState {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: $color-grey;

}

.zeroWrapper {
  display: flex;
  flex-direction: row;
}

.resultsWrapper {
  display: flex;
  flex-direction: row;
}